@import "tailwindcss";

* {
  font-family: "Poppins", "monospace";
  box-sizing: border-box;
}

body {
  background-color: #ffebcd;
}

.border-color {
  @apply border-orange-500  border-2;
}

#login,
#register {
  display: none;
}

#auth:checked ~ #login {
  display: flex;
}
#auth:not(:checked) ~ #register {
  display: flex;
}

.error {
  @apply text-red-600;
}
